<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Profile</title>
  </head>
  <body>
    <h1>Add a New Profile</h1>

    <form class="" action="/new-profile" method="post">
      <div class="">
        <label for="">Name</label>
        <input type="text" name="name" value="">
      </div>
      <div class="">
        <label for="">Email</label>
        <input type="email" name="email" value="">
      </div>
      <div class="">
        <label for="">Phone Number</label>
        <input type="text" name="phone" value="">
      </div>
      <div class="">
        <label for="">Age</label>
        <select class="" name="age">
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="38">39</option>
            <option value="40">40</option>
        </select>
        <!-- can also use this method below for a number field -->
        <!-- <input type="number" name="age" min="18" max="45" value=""> -->
      </div>
      <div class="">
        <label for="">Avatar</label>
        <input type="text" name="avatar" value="">
      </div>
      <div class="">
        <label for="">linkedIn</label>
        <input type="text" name="linkedIn" value="">
      </div>
      <div class="">
        <label for="">gitHub</label>
        <input type="text" name="gitHub" value="">
      </div>
      <div class="">
        <label for="">Website</label>
        <input type="text" name="website" value="">
      </div>
      <div class="">
        <label for="">Bio</label>
        <textarea name="bio" rows="8" cols="50"></textarea>
      </div>
      <div class="">
        <label for="">Contributions to this Project</label>
        <textarea name="contributions" rows="8" cols="50"></textarea>
      </div>
      <div class="">
        <button type="submit" name="button">Submit</button>
      </div>
    </form>
  </body>
</html>
